{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>شرکت لوح رایانه پلدشت</title>
  <meta content="فروش انواع قطعات کامپیوتر و لوازم جانبی موبایل" name="descriptison">
  <meta content="کامپیوتر, قطعات کامپیوتر, پلدشت, شرکت, پاوربانک, پرینتر, لپتاپ" name="keywords">
  <meta property="og:image:alt" content="Loh Rayane Poldasht" />
  <meta property="og:url" content="https://lohrayanecorp.ir/faaliyat/" />

  <!-- Favicons -->
  <link href="{{ mains.logo.url }}" rel="icon">
  <link href="{{ mains.logo.url }}" rel="logo">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'home/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/vendor/aos/aos.css' %}" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="{% static 'home/css/style.css' %}" rel="stylesheet">
  <!-- =======================================================
  ======================================================== -->
</head>
<body>
  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top header-inner-pages">
    <div class="container d-flex">
      <div style="font-family: 'Cairo', sans-serif;" class="contact-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:contact@example.com">{{ mains.email|safe }}</a>
        <i class="icofont-phone"></i> {{ mains.phonenumber }}
      </div>
      <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="telegram"><i class="icofont-telegram"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></i></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">

      <a href="/"><h1 class="logo mr-auto"><img src="{{ mains.logo.url }}" width="30" height="30"></a>
        <span style="font-size:16px; color:white; font-family: 'Cairo', sans-serif;"> {{ mains.sname }}</span></h1></a>
      <!-- Uncomment below if you prefer to use an image logo -->
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li style="text-align: center;"class="active"><a href="/">خانه</a></li>
          <li><a style="text-align: center;" href="/">درباره ما</a></li>
          <li><a style="text-align: center;" href="{% url 'home:posts' %}">فعالیت ها</a></li>
          <li><a style="text-align: center;" href="#contact">ارتباط باما</a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

<main id="main">
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">
	  <p>
	  <br>
	  <p>
	  <br>
        <div class="portfolio-details-container">
          <div class="owl-carousel portfolio-details-carousel">
            <img src="{{ post.image.url }}">
          </div>
        </div>
        <div class="portfolio-description">
          <div style="text-align:right;">
              {{ post.content | safe }}
          </div>
        </div>
    </section>
  </main>

  
<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container" id="contact">
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
            <a href="/"><img src="{% static 'home/img/logo.png' %}" width="50" height="50"></a>
                <br>
                <br>
            <p>
              {{ mains.address|safe }}
              <br><br>
              <strong>{{ mains.phonenumber|safe }}</strong> :تلفن<br>
               <strong style="font-family: 'Cairo', sans-serif;"> {{ mains.email }}</strong> :ایمیل <br>
             </p>
              <div class="social-links mt-3">
                <a href="#" class="telegram"><i class="bx bxl-telegram"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <img src="{% static 'home/img/m.png' %}" width="70" height="51">
                  <br>
                  <br>
              <p>
                طراحی انواع وبسایت برای کسب و کار شما
                <br><br>
                <a href="mailto:tuircorp@gmail.com"><strong style="font-family: 'Cairo', sans-serif;"> tuircorp@gmail.com</strong></a> :ایمیل <br>
               </p>
               <strong style="font-family: 'Cairo', sans-serif;"> www.TuirCorp.ir</strong>
               <p>
               <div class="social-links mt-3">
                 <a href="#" class="telegram"><i class="bx bxl-telegram"></i></a>
               </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="footer-info" style="border-top:0px">
                <img src="{% static 'home/img/Azerbaycan.png' %}" width="140" height="223">
                  
              </div>
            </div>
      </div>
    </div>

      <div class="container">
        <div style="font-family: 'Cairo', sans-serif;"class="copyright">
          &copy; Copyright <strong><span>Loh Rayane</span></strong>. All Rights Reserved
        </div>
        <div style="font-family: 'Cairo', sans-serif;" class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/day-multipurpose-html-template-for-free/ -->
          Designed by <a href="">Tuircorp.ir</a>
        </div>
      </div>
    </footer><!-- End Footer -->

      <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
      <div id="preloader"></div>

   <!-- Vendor JS Files -->
  <script  src = "{% static 'home/vendor/jquery/jquery.min.js' %}"></script>
  <script  src = "{% static 'home/vendor/jquery/jquery.min.js' %}"> </script>
  <script src = "{% static 'home/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src = "{% static 'home/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src = "{% static 'home/vendor/venobox/venobox.min.js' %}"></script>
  <script src = "{% static 'home/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src = "{% static 'home/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'home/js/main.js' %}"></script>
  <!-- other scripts -->
  </body>
  </html>
